// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

.content {
    margin-top: 20px;
}

.invalid-feedback {
    font-size: 15px !important;
}

.table {
    background-color: #fff !important;
}
